# Application
.env
*.db
*.db-shm
*.db-wal

# Python specifics
__pycache__/
*.pyc

# Static folders
static/instructions/
static/minifigs/
static/minifigures/
static/parts/
static/sets/

# IDE
.vscode/

# Temporary
*.csv
/local/
run_local.sh
settings.local.json

# Apple idiocy
.DS_Store

# Documentation
docusaurus/
vitepress/

# Local data
offline/
TODO.md
run-local.sh
test-server.sh
